numpy
pandas
matplotlib
netCDF4
xarray
seaborn
scipy
scikit-learn
tensorflow
keras
jupyter
jupyterlab
dash-renderer
dash-core-components
dash-html-components
dash-table
plotly
rasterio
fiona
shapely
descartes
scikit-image
opencv-python
tqdm
pysolar
pandas-profiling
geopy
haversine
pyproj
xlrd
openpyxl